{{ $data := .data }}
{{ $link := $data.link_url }}
{{ $href := $link }}
{{ if and $link (not (or (hasPrefix $link "http://") (hasPrefix $link "https://"))) }}
  {{ $href = relLangURL $link }}
{{ end }}
<!-- begin blog -->
<section class="section blog">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ $data.title }}</h2>
              <a class="section__link" href="{{ $href }}">{{ i18n "view_all" }} <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            <div class="section__description">{{ $data.description_html | safeHTML }}</div>
          </div>

          {{ if $data.show_posts }}
          <div class="row">
            {{ range first 3 (where .context.Site.RegularPages "Section" "posts") }}
              {{ partial "components/blog-card.html" (dict "page" . "context" $.context) }}
            {{ end }}
          </div>
          {{ end }}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end blog -->
