{{ $tags := or .Params.tags (index .Params "taxonomies" "tags") }}
{{ with $tags }}
<!-- begin related posts -->
<div class="container">
  <section class="related-posts animate">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">You may also like</h2>
              {{ $tag := index . 0 }}
              <a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}/" class="section__link related-tag">See all<span> {{ $tag }}</span> <i class="ion ion-md-arrow-forward"></i></a>
            </div>
          </div>
          <div class="row">
            {{ $current := $.Permalink }}
            {{ $tags := . }}
            {{ $count := 0 }}
            {{ range $.Site.RegularPages }}
              {{ if and (eq .Section "posts") (ne .Permalink $current) (gt (len (intersect .Params.tags $tags)) 0) }}
                {{ partial "article-content.html" (dict "page" . "context" $) }}
                {{ $count = add $count 1 }}
              {{ end }}
              {{ if ge $count 3 }}{{ break }}{{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end related posts -->
{{ end }}
